.card {
    border: 1px solid $grey;
    padding: 0 15px 15px 15px;
    &:hover {
        .card__img {
            transform: scale(1.05);
        }
    }
    &__imgCtn {
        overflow: hidden;
    }
    &__img {
        height: 300px;
        background-size: contain !important;
        transition: $trsl;
    }
    &__body {
        height: calc(100% - 300px);
        display: flex;
        align-items: center;
    }
    &__title {
        margin-bottom: 8px;
        color: $primary;
    }
}
