.nav {
    background-color: $primary;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    &__link {
        color: white;
        font-size: 18px;
        &--logo {
            font-size: 28px;
        }
    }
}
